.banner{
  background-image: url(assets/img/bg-jelly-fish-para_outras_pags.png);
  padding: 270px 0;
  background-size: cover;
  border-bottom: 1px solid #0f0f0f;
}

.banner .container{
    align-items: center;
    justify-content: center;
}

.caixa-formulario{
    background-color: #000000;
    padding: 50px 100px;
    border-radius: 5px;
    border: 2px solid #0f0f0f;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.226),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.283),
    12.5px 12.5px 9.9px rgba(0, 0, 0, 0.315),
    22.3px 22.3px 17.6px rgba(0, 0, 0, 0.336),
    41.8px 41.8px 33px rgba(0, 0, 0, 0.355),
    100px 100px 79px rgba(0, 0, 0, 0.4);
}

.caixa-formulario h2{
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
}

.campo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.campo label{
    color: rgb(54, 51, 51);
    font-size: 18px;
    padding: 2px 0;
    font-family: 'Inter', sans-serif;
    margin-top: 1rem;
}

.campo input{
    padding: 10px;
    border-radius: 2px;
    border: 2px solid #0f0f0f;
    outline: none;
    background-color: #000000;
    color: white;
    font-family: 'Inter', sans-serif;
}

.caixa-formulario button{
    padding: 10px 20px;
    margin-top: 50px;
    width: 120px;
    color: white;
    background-color: #000000;
    border: none;
    border: 2px solid #0f0f0f;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    transition: 0.4s;
    cursor: pointer;
}

.caixa-formulario button:hover{
    background-color: aliceblue;
    color: #000000;
    border: 2px solid #ffffff;
}

